
.body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 1180px) {

.main{
    width: 100%;
}
}
@media screen and (max-width: 935px) {

.main{
    width: 100%;
}
}