<div class="main">
  <div class="header">
    <div class="header_item"><img class="logo" src="assets/logotips/logo.svg" alt="" srcset=""></div>
    <div class="header_item">
      <a routerLink="/" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
      <a routerLink="/questionnaires" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Анкеты</a>
      <a routerLink="/create-questionnaires" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Создать анкету</a>
      <a routerLink="/" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Волнтёры</a>
      <a routerLink="/" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Команды</a>
    </div>
  </div>
<div class="content">
  <router-outlet>
    
  </router-outlet>
</div>
<div class="footer">
  
</div>
</div>