.cont{
    width: 100%;
    min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.img{
    width: 450px;
}
.text{
    font-family: cursive;
    color: rgb(140, 179, 2);
}